
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
.meniu a:link {
  color: white;
  text-decoration: none;
}
.meniu a:visited {
  color: white;
  text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

.meniu {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: rgb(247, 47, 47);
	height: 8%;
	text-align: center;
	width: 100%;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
	position: fixed;
}

.meniu ul {
	display: inline-flex;
	list-style: none;
	color: white;
}

.meniu ul li {
	font-size: 225%;
	padding-left: 10px;
	padding-right: 10px;
}

.meniu ul li:hover {
	background: rgb(243, 148, 25);
}

.submeniu {
	display: none;
	position: absolute;
}

.meniu ul li:hover .submeniu {
	width: 200px;
	display: block;
	background: rgb(247, 47, 47); 
	margin-left: -1%;
	top: 100%;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.meniu ul li:hover .submeniu ul {
	display: block;
	margin: 5%; 
}

.meniu ul li:hover .submeniu ul li {
	font-size: 45%;
	padding: 5%;
	border-bottom: 1px solid white;
	text-align: center;
	border-radius: 0;
}

.meniu ul li:hover .submeniu ul li:last-child {
	border-bottom: none;
}

.meniu ul li:hover .submeniu ul li a:hover {
	color: rgb(247, 47, 47);
}

.meniu img {
	padding-top: 10%;
	max-height: 80%;
}

.left {
	float: left;
	margin-left: 10%;
	height: 100%;
}

.right {
	float: right;
	margin-right: 10%;
	display: inline-flex;
	height: 100%;
}


body {
	background: rgb(255, 255, 255);;
}
