.cart_page {
    margin: 50px auto;
}

.container table{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}



.container th {
    text-align: left;
    padding: 5px;
    color: white;
    background: rgb(247, 47, 47);
    font-size: 20px;
}

.container td {
    padding: 10px 5px;
}

.container td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

.cart_page td a{
    font-size: 12px;
}

.cart_page td a {
    color: rgb(247, 47, 47);
}

.cart_page td a:hover {
    text-decoration: underline;
}

.cart_page td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;

}

.container tr {
    border-bottom: 1px #adadad solid;
}

.total-price {
    display:flex;
    justify-content: flex-end;
}

.total-price table{
    width: 100%;
    max-width: 350px;
}

.cart_page td:last-child{
    text-align: right;
}

.cart_page th:last-child{
    text-align: right;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

/*---------------CHECK OUT--------------*/



.checkout button {
    border: none;
    border-radius: 15px 0px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(247, 47, 47);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.checkout button:hover {
    background: rgb(243, 148, 25);

}