.filter {
    padding-right: 50px;
    padding-left: 50px;
    text-align: left;
    vertical-align: top;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.price_slider {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(247, 47, 47);
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(247, 47, 47);
    cursor: pointer;
    /* Cursor on hover */
}

.stars1 span:nth-child(3),
.stars1 span:nth-child(4),
.stars1 span:nth-child(5),
.stars1 span:nth-child(6){
    color: rgb(204, 204, 204);
}

.stars1 span:nth-child(2){
    color: rgb(247, 47, 47);
}

.stars2 span:nth-child(4),
.stars2 span:nth-child(5),
.stars2 span:nth-child(6){
    color: rgb(204, 204, 204);
}
.stars2 span:nth-child(2),
.stars2 span:nth-child(3){
    color: rgb(247, 47, 47);
}



.stars3 span:nth-child(5),
.stars3 span:nth-child(6){
    color: rgb(204, 204, 204);
}
.stars3 span:nth-child(4),
.stars3 span:nth-child(2),
.stars3 span:nth-child(3){
    color: rgb(247, 47, 47);
}


.stars4 span:nth-child(6){
    color: rgb(204, 204, 204);
}
.stars4 span:nth-child(5),
.stars4 span:nth-child(2),
.stars4 span:nth-child(3),
.stars4 span:nth-child(4){
    color: rgb(247, 47, 47);
}


.stars5 span:nth-child(5),
.stars5 span:nth-child(6),
.stars5 span:nth-child(2),
.stars5 span:nth-child(3),
.stars5 span:nth-child(4){
    color: rgb(247, 47, 47);
}

.simple_filter {
    display: flex;
    flex-direction: row;
}


.selection {
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 3px 0;
}

.selection select {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    height: 40px;
}

.selection span::before {
    content: '';
    position: absolute;
    top: 40px;
    left:  0;
    width: 0%;
    height: 1px;
    background: rgb(247, 47, 47);
}

.selection select:focus ~ span::before {
    width: 100%;
}