.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    height: 120px;
    background-color: rgb(54, 54, 54);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
}

.footer img {
    height: 52px;
}

.footer table {
    width: 100%;
}

.f_mid {
    width: 50%;
}

.f_mid1 {
    width: 25%;
    padding-right: 1%;
    text-align: right;
}

.f_mid2 {
    width: 25%;
    padding-left: 1%;
    text-align: left;
}

.f_left {
    width: 25%;
    text-align: left;
    padding-left: 5%;
}

.f_right {
    width: 25%;
    text-align: right;
    padding-right: 5%;
}