body {
    margin: 0;
    padding: 0;
    background: rgb(243, 148, 25);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    position: absolute;
    width: 500px;
    text-align: center;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    vertical-align: middle;
    background: rgb(247, 47, 47);
}

.logo img {
    padding-top: 7px;
    height: 70px;
}

.form_div {
    display: block;
    background-color: white;
}
form {
    padding: 0 70px;
    box-sizing: border-box;
    padding-top: 5%;
}

.field {
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 30px 0;
}

.field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
}

.field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 19px;
    pointer-events: none;
    transition: .5s;
}

.field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left:  0;
    width: 0%;
    height: 1px;
    background: rgb(247, 47, 47);
}

.field input:focus ~ label,
.field input:valid ~ label {
    top: -5px;
    color: rgb(247, 47, 47);

}

.field input:focus ~ span::before,
.field input:valid ~ span::before {
    width: 100%;

}

input[type="submit"] {
    position: relative;
    width: 70%;
    height: 50px;
    font-size: 22px;
    background-color: rgb(247, 47, 47);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    outline: none;
}

input[type="submit"]:hover {
    background-color: rgb(255, 0, 0);
    font-size: 24px;
    transition: .5s;
}

input[type="date"] {
    color: #adadad;
    text-decoration: none;
}

.links {
    padding: 5px 0;
}

.links :hover {
    text-decoration: underline;
}

.container div :last-child {
    padding-bottom: 10px;
}

.radio_field {
    display: inline-flex;
    width: 100%;
    color: #adadad;
    font-size: 20px;
    accent-color: rgb(247, 47, 47);
    padding-bottom: 25px;
}

.radio_field div {
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: none;
}

.radio_container {
    margin-left: auto;
    margin-right: 0;
}

.product_image {
    position: relative;
    text-align: left;
    padding: 0;
    margin: 0;
    display: inline-flex;
    color: #adadad;
    margin-bottom: 20px;
    font-size: 19px;
    padding-right: 45px;
}

.product_image input[type="file"]::-webkit-file-upload-button{
    background-color: rgb(247, 47, 47);
    border: none;
    height: 30px;
    width: 120px;
    font-size: 19px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.product_image input[type="file"]::-webkit-file-upload-button:hover{
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    transition: .5s;
}


