a:link {
	color: black;
	text-decoration: none;
  }
  a:visited {
	color: black;
	text-decoration: none;
  }
  header a:link {
	color: white;
	text-decoration: none;
  }
  header a:visited {
	color: white;
	text-decoration: none;
  }
  
  * {
	  margin: 0;
	  padding: 0;
	  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  header {
	  z-index: 1;
	  position: relative;
	  display: grid;
	  grid-template-columns: 1fr 3fr 4fr 4fr 4fr 1fr 1fr 1fr 1fr;
	  gap: 1px;
	  background: rgb(247, 47, 47);
	  text-align: center;
	  vertical-align: middle;
	  width: 100%;
	  height: 100px;
	  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
	  margin-bottom: 25px;
	  color: white;
	  font-size: 45px;
	  justify-content: center;
	  align-content: center;
	  height: 100px;
  }
  
  .menu img {
	  max-width: 100%;
	  min-height: 50px;
	  min-width: 50px;
	  padding-top: 8px;
  }
  
  .menu .logo {
	  min-width: 231px;
  }
  
  .hover {
	  padding-left: 10px;
	  padding-right: 10px;
  }
  
  .hover:hover{
	  background: rgb(243, 148, 25);
  }
  
  .left_menu {
	  padding-top: 6%;
  }
  
  .submenu {
	  display: none;
	  position: absolute;
	  font-size: 40px;
	  z-index: 1;
  }
  
  .menu #has_submenu:hover .submenu {
	  width: 200px;
	  display: block;
	  background: rgb(247, 47, 47); 
	  margin-left: -1%;
	  top: 85px;
	  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  }
  
  .submenu ul {
	  margin: 5%; 
	  list-style: none;
  }
  
  .submenu ul li {
	  font-size: 45%;
	  padding: 5%;
	  text-align: center;
	  border-radius: 0;
  }
  
  .submenu .block {
	  border-bottom: 1px solid white;
  }
  
  .submenu .block:last-child {
	  border-bottom: none;
  }
  
  .submenu .block:hover {
	  background-color: rgb(243, 148, 25);
  }
  