

.produs1 {
    
}

.box {
    background: white;
    text-align: center;
    width: 70%;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.05);
    border: 5px white solid;
}

.produs1 img {
    width: 100%;
}

.text {
    padding: 20px;
}

.text href {
    font-size: 15px;
}

.rate span {
    font-size: 10px;
    color: rgb(247, 47, 47);
    margin-bottom: 10px;
}

.rate span:nth-child(4),
.rate span:nth-child(5) {
    color: rgb(204, 204, 204);
}

.checked {
    color: orange;
}


.b_mid {
    width: 25%;
    padding-right: 1%;
    text-align: right;
}

.cart_button button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(247, 47, 47);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.cart_button button:hover {
    background: rgb(243, 148, 25);

}

.text_product1 :hover {
    color: rgb(247, 47, 47);

}

.text_product1 {
    overflow: hidden;
}