.container p {
    font-size: 24px;
}

.container .single-product {
    display: grid;
    gap: 15px;
    grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
    grid-template-rows: 0.4fr 3fr 7fr;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container h3 {
    font-size: 30px;
}

.container h4 {
    margin-top: 20px;
    font-size: 30px;
}

.container h1 {
    font-size: 40px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.container .details {
    text-align: justify;
    grid-column-start: 2;
    grid-column-end: 5;
}

.container .col-1 {

    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.col-2,
.col-3 {
    display: flex;
    flex-direction: column;
}

.col-2 div, .col-3 div {
    margin-bottom: 20px;
}



.single-product img {
    width: 400px;
}

.cart_button button {
    border: none;
    border-radius: 15px 0px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(247, 47, 47);
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
}

.cart_button button:hover {
    background: rgb(243, 148, 25);

}


/*----------------------------*/


.container .b_mid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.container .box {
    width: 250px;
    margin: 25px;
    background: white;
    text-align: center;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.12);
    border: 10px white solid;
}

.container .box img {
    width: 100%;
}

.container .text_product1 {
    font-size: 18px;
}

.container .rate span {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(247, 47, 47);
    margin-bottom: 10px;
}

.container .rate span:nth-child(4),
.container .rate span:nth-child(5) {
    color: rgb(204, 204, 204);
}

.container .checked {
    color: orange;
}

.container .cart_button button {
    border: none;
    border-radius: 15px 0px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(247, 47, 47);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.container .cart_button button:hover {
    background: rgb(243, 148, 25);

}

.container .text_product1 :hover {
    color: rgb(247, 47, 47);

}

.container .text_product1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
}

.container .text_product1 .product_name {
    overflow: hidden;
    max-width: 250px;
}

.container h3 {
    padding-top: 20px;
}

.container p {
    padding-top: 10px;
}

.single-product .col-2 .rate span {
    font-size: 25px;
    color: rgb(247, 47, 47);
    margin-bottom: 10px;
}

.single-product .rate span:nth-child(4),
.single-product .rate span:nth-child(5) {
    color: rgb(204, 204, 204);
}


.selection {
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 3px 0;
}

.selection select {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    height: 40px;
}

.selection span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 1px;
    background: rgb(247, 47, 47);
}

.selection select:focus~span::before {
    width: 100%;
}




.field {
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 3px 0;
}

.field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
}

.field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 19px;
    pointer-events: none;
    transition: .5s;
}

.field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 1px;
    background: rgb(247, 47, 47);
}

.field input:focus~label,
.field input:valid~label {
    top: -5px;
    color: rgb(247, 47, 47);

}

.field input:focus~span::before,
.field input:valid~span::before {
    width: 100%;

}

@media (max-width: 1200px) {
    .container .single-product {
        display: grid;
        gap: 15px;
        grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
        grid-template-rows: 0.4fr 3fr 15fr;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .container .box {
        width: 180px;
        margin: 10px;
    }


    .single-product img {
        width: 250px;
    }
}

@media (max-width: 800px) {
    


    .container .box {
        width: 120px;
        margin: 10px;
    }

    .single-product img {
        width: 220px;
    }
}

@media (max-width: 450px) {

    .container .single-product {
        padding-left: 5px;
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .container .box {
        width: 120px;
        margin: 10px;
    }

    .single-product img {
        width: 300px;
    }
}